version: '3.7'

services:
  mongo:
      image: mongo:latest
      environment:
        - MONGO_INITDB_ROOT_USERNAME=root
        - MONGO_INITDB_ROOT_PASSWORD=rootpassword
      ports:
        - 27018:27018
  # mongo-express:
  #     image: mongo-express
  #     environment:
  #       - ME_CONFIG_MONGODB_SERVER=mongo
  #       - ME_CONFIG_MONGODB_PORT=27018
  #       - ME_CONFIG_MONGODB_AUTH_DATABASE=admin
  #       - ME_CONFIG_MONGODB_AUTH_USERNAME=root
  #       - ME_CONFIG_MONGODB_AUTH_PASSWORD=rootpassword
  #       - ME_CONFIG_BASICAUTH_USERNAME=dev
  #       - ME_CONFIG_BASICAUTH_PASSWORD=dev
      # ports:
      #   - "8888:8081"